@model Vidly.ViewModels.CustomerFormViewModel

@{
	ViewBag.Title = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Customer</h2>

@using (Html.BeginForm("Edit", "Customer"))
{
	@Html.ValidationSummary()
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Customer</h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(model => model.Customer.Name, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Customer.Name, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Customer.Name, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Customer.MembershipTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Customer.MembershipTypeId, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Customer.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Customer.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Customer.DateOfBirth, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-10">
				<div class="checkbox">
					@Html.EditorFor(model => model.Customer.IsSubscribedToNewsletter) @Html.LabelFor(model => model.Customer.IsSubscribedToNewsletter, htmlAttributes: new { @class = "control-label col-md-10" })
					@Html.ValidationMessageFor(model => model.Customer.IsSubscribedToNewsletter, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				@Html.HiddenFor(model => model.Customer.Id)
				<button type="submit" value="Create" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
}

@if (Model.Customer.Rentals.Count > 0)
{
	<h3>Rentals</h3>

	<table id="rentals" class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Movie</th>
				<th>Date Rented</th>
				<th>Date Returned</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var rental in Model.Customer.Rentals)
			{
				<tr data-rental_id="@rental.Id">
					<td>@rental.Movie.Name</td>
					<td>@rental.DateRented.ToString()</td>
					<td>
						@if (rental.DateReturned == null)
						{
							<button class="btn btn-primary js-mark-movie-as-returned">Mark Returned</button>
						}
						else
						{
							@rental.DateReturned.ToString()
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>

@section scripts
{
	@Scripts.Render("~/bundles/jqueryval")
	<script>
		$(document).ready(function()
		{
			$("#rentals").DataTable();

			$("button.js-mark-movie-as-returned").click(function(e)
			{
				e.preventDefault();
				$this = $(this);
				parent = $this.closest("tr");
				rentalID = parseInt(parent.data("rental_id"));

				$.ajax(
				{
					type : 'PUT',
					url  : '/api/rentals/' + rentalID
				}).done(function(dateString)
				{
					$this.closest("td").html(dateString);
				}).fail(function(data)
				{
					console.log("fail");
					console.log(data);
				});
			});
		});
	</script>
}