@model Vidly.Models.Movie

@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<div>
	<ul>
		@if (Model.GenreId != null)
		{
			<li>@Html.DisplayNameFor(model => model.Genre.Name): @Html.DisplayFor(model => model.Genre.Name)</li>
		}

		@if (Model.ReleaseDate != null)
		{
			<li>@Html.DisplayNameFor(model => model.ReleaseDate): @Html.DisplayFor(model => model.ReleaseDate)</li>
		}

		@if (Model.DateAdded != null)
		{
			<li>@Html.DisplayNameFor(model => model.DateAdded): @Html.DisplayFor(model => model.DateAdded)</li>
		}

		<li>@Html.DisplayNameFor(model => model.StockQuantity): @Html.DisplayFor(model => model.StockQuantity)</li>
		<li>@Html.DisplayNameFor(model => model.StockAvailable): @Html.DisplayFor(model => model.StockAvailable)</li>
	</ul>
</div>

@if (Model.Deleted)
{
	<div class="form-group">
		<div class="col-md-10">
			<p class="error">THIS MOVIE HAS BEEN DELETED</p>
		</div>
	</div>
}

@if (Model.Rentals.Count > 0)
{
	<h3>Rentals</h3>

	<table id="rentals" class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Customer</th>
				<th>Date Rented</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var rental in Model.Rentals)
			{
				if (rental.DateReturned == null)
				{
					<tr>
						<td><a href="/Customer/Edit/@rental.CustomerId">@rental.Customer.Name</a></td>
						<td>@rental.DateRented.ToString()</td>
					</tr>
				}
			}
		</tbody>
	</table>
}

<p>@Html.ActionLink("Back to List", "Index")</p>

@section scripts
{
	<script>
		$(document).ready(function ()
		{
			$("#rentals").DataTable();
		});
	</script>
}